{% extends "base.html" %} 
{% block content %}
<h2>Assign Album to Band (Collab)</h2>
<form method="post">
  <label>Band:</label>
  <select name="bandid">
    <option value="">-- select band --</option>
    {% for band in bands %}
    <option value="{{ band.BandID }}">{{ band.BandName }}</option>
    {% endfor %}
    </select><br />
  <label>Album:</label>
  <select name="albumid">
    <option value="">-- select Album --</option>
    {% for album in albums %}
    <option value="{{ albums.AlbumID }}">{{ album.AlbumTitle }}</option>
    {% endfor %}
    </select><br />
  <button type="submit">Save Collaberation</button>
</form>
{% endblock %}

<!-- Doesn't show collaberations. results are blank-->